<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>  
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div id="header">
	<h1 title="{{ title }}">{{ title }}</h1>
	<a href="http://www.rmkp.me">rmkp.me</a>
</div>

{% for i in names %}
	{% if loop.index-1 == 0 %}
		<div class="img-cont">
			<div class="date">{{ dates[loop.index-1] }}</div>
			<img src="img/{{ i }}.{{ exts[loop.index-1] }}">
		</div>
	{% else %}
		<div class="img-cont">
			<div class="date">{{ dates[loop.index-1] }}</div>
			<img src="img/{{ i }}.{{ exts[loop.index-1] }}">
		</div>
	{% endif %}
{% endfor %}

<div id="pagination">
	<table>
		<tr>
			{% if which_page != 1 %}
			<td class="prev"><a href="{{pages[which_page-2]}}">Previous</a></td>
			{% else %}
			<td class="prev">Previous</td>
			{% endif %}
			{% for i in pages %}
				{% if loop.index == which_page %}
				<td class="current">{{loop.index}}</td>
				{% else %}
				<td><a href="{{ i }}">{{loop.index}}</a></td>
				{% endif %}
			{% endfor %}
			{% if which_page != num_pages %}
			<td class="next"><a href="{{pages[which_page]}}">Next</a></td>
			{% else %}
			<td class="next">Next</td>
			{% endif %}
		</tr>
	</table>
</div>

</body>
</html>